# Binaries
graph_layout
graphviz
tests/generator
tests/run_tests

# Objects
obj/

# Temporary / Output files
*.o
*.bin
!examples/*.txt
java_app/out
java_app/res/*.txt
.idea
.vscode
java_app/target/*
out